<a href="https://colab.research.google.com/github/momijizen/Coursera_Capstone/blob/main/Report_Capstone_Bangkok.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Population analysis and clustering district in Bangkok, Thailand

---

#1. Introduction

##Background

Bangkok is the capital and most populous city of Thailand. It is known in Thai as Krung Thep Maha Nakhon or simply Krung Thep. The city occupies 1,568.7 square kilometers (605.7 sq mi) in the Chao Phraya River delta in central Thailand and has an estimated population of 10.539 million as of 2020, 15.3 percent of the country's population. Over fourteen million people (22.2 percent) lived within the surrounding Bangkok Metropolitan Region at the 2010 census, making Bangkok an extremely primate city, dwarfing Thailand's other urban centers in both size and importance to the national economy.

##Business Problem
How to find a suitable restaurant business location in Bangkok?

From the information, Bangkok is the city with the highest population density in Thailand. There are many buildings and meeting places. Therefore, it is interesting for investors to build a business, specifically a restaurant business. But it is difficult to find the suitable place for the restaurant location. The problem with stakeholders is finding a place with less restaurant density and high population density. Therefore, in this project, we will use data science methods to analyze the data to display the results for stakeholders to consider as part of business decision-making.

##Interest
Investors interested in investing, and stakeholders will be interested in this project. And take this as part of your investment consideration. Once we have analyzed the existing data and solved these problems with machine learning methods. Then create a map and visualized group each district of population density and restaurants density.

#2. Data

* I discover population data of each district in Bangkok from 
the Thailand Digital Government Development Agency (DGA), which this uses for calculating population density.

* I searched for a Bangkok boundary file or a GeoJson file to create a choropleth map. However, I discovered a Thailand administrative region - sub from data.humdata.org as a shapefile (.shp) containing the coordinates of all cities of Thailand. So I selected only the properties that I required, which were Bangkok's coordinates, and save it as a GeoJson file to reduce the file size and flexibility in working.

* I use the Bangkok dataset from the Thailand Digital Government Development Agency (DGA), which contains the longitude and latitude coordinates for each sub-district in Bangkok.

* I used Forsquare API to get the restaurant's neighborhood given coordinates center point for each sub-district of Bangkok.

Population data

In [1]:
import pandas as pd

In [2]:
path = "https://raw.githubusercontent.com/momijizen/Coursera_Capstone/main/population.csv"
df_population = pd.read_csv(path)
df_population.head()

   dcode  population48  population49  ...  population59  population60  population61
0   1001         67357         65835  ...         52522             0         50382
1   1002        121336        119927  ...         98450             0         94854
2   1003        126126        133415  ...        167844             0        172990
3   1004         50023         49730  ...         47308             0         48207
4   1005        178986        181390  ...        190828             0        191323

[5 rows x 15 columns]

Bangkok boundary coordinates data

In [3]:
import json
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

In [4]:
!wget -q 'https://raw.githubusercontent.com/momijizen/Coursera_Capstone/main/bangkok_district.geojson'
bbk = json.load(open('bangkok_district.geojson'), encoding='utf-8') 
df = json_normalize(bbk["features"])
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

      type  ...                               geometry.coordinates
0  Feature  ...  [[[100.44565916300007, 13.684087302000023], [1...
1  Feature  ...  [[[100.62905513700008, 13.819373024000072], [1...
2  Feature  ...  [[[100.36608772400007, 13.75391084000006], [10...
3  Feature  ...  [[[100.60999131200003, 13.890784968000048], [1...
4  Feature  ...  [[[100.51966241000008, 13.703230845000064], [1...

[5 rows x 8 columns]

Location data

In [5]:
url = "https://raw.githubusercontent.com/momijizen/Coursera_Capstone/main/borough.csv"
df_province = pd.read_csv(url)
df_province.head()

   AD_LEVEL   TA_ID        TAMBON_T  ... CHANGWAT_E     LAT     LONG
0         4  910106  ต. เกาะสาหร่าย  ...      Satun   6.546   99.706
1         4  210114     ต. มาบตาพุด  ...     Rayong  12.646  101.171
2         4  210114     ต. มาบตาพุด  ...     Rayong  12.645  101.170
3         4  210114     ต. มาบตาพุด  ...     Rayong  12.649  101.174
4         4  210114     ต. มาบตาพุด  ...     Rayong  12.644  101.169

[5 rows x 12 columns]